.filter-list__title {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding-left: 2rem;
  padding-top: 2rem;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 1rem 0 0 2rem;
}

.filter-list__reset {
  margin-top: 2rem;
  padding-left: 2rem;
}

.filter-list__wrapper {
  display: flex;
}

.filter-list__section--genre {
  position: relative;
}

.filter-list__dropdown-toggle {
  display: flex;
  gap: 0.5rem;
  box-shadow: none;
  width: fit-content;
}

.filter-list__dropdown {
  display: none;
  left: 0;
  margin: 0.5rem 2rem;
  padding-bottom: 1rem;
  padding-left: 0;
  position: absolute;
  top: 100%;
  width: fit-content;
  z-index: 666;
}

.filter-list__dropdown--open {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filter-list__dropdown .filter-link {
  display: block;
}
