.filter-card {
  background-color: var(--body-background);
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  margin: 1rem;
  position: relative;
}

.filter-card:hover,
.filter-card:focus {
  border: 2px solid var(--heading-color);
}

.filter-card__title,
.filter-card__date,
.filter-card__overview,
.filter-card__rating {
  margin: 0;
}

.filter-card__link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.filter-card__image {
  max-width: 100%;
}
