.filter-list__title {
  padding-left: 2rem;
  padding-top: 2rem;
  margin: 0;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 1rem 0 0 2rem;
}

.filter-list__reset {
  margin-top: 2rem;
  padding-left: 2rem;
}
