/* Komponenten */
@import "./filter/filter-card.css";
@import "./filter/filter-content.css";
@import "./filter/filter-movies.css";
@import "./filter/filter-list.css";
@import "./filter/filter-link.css";
@import "movie-page.css";
@import "pagination.css";
@import "header.css";
@import "footer.css";

.movie-layout__back-wrapper {
  padding: 2rem;
}

.movie-layout__back {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
