.pagination {
  background-color: white;
  display: flex;
  font-family: var(--heading-font);
  gap: 1rem;
  justify-content: center;
  margin-top: -0.1rem;
  padding-bottom: 2.5rem;
}

.pagination__link {
  align-items: center;
  color: var(--off-black);
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  padding: 0.5rem;
  text-decoration: none;
}

.pagination__link--first,
.pagination__link--last {
  gap: 0.2rem;
}

.pagination__link:hover {
  color: var(--link-color);
}

.pagination__current-page {
  align-items: center;
  color: var(--primary-color);
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: center;
}
